<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Contact Us</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <!-- Contact Form -->
        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <div class="field">
                <label for="name" class="label">Name: </label>
                <input type="text" name="name" class="input" placeholder="Name" required [(ngModel)]="model.name" #nameInput="ngModel" [ngModelOptions]="{standalone: true}">
                <div class="help is-danger" *ngIf="nameInput.invalid && nameInput.touched">
                    Name is required.
                </div>
            </div>
            <div class="field">
                <label for="email" class="label">Email:</label>
                <input type="email" name="email" class="input" placeholder="Email" required [(ngModel)]="model.email" #emailInput="ngModel" [ngModelOptions]="{standalone: true}">
                <div class="help is-danger" *ngIf="emailInput.invalid && emailInput.touched">
                    Email is required.
                </div>
            </div>
            <div class="field">
                <label for="name" class="label">Message: </label>
                <textarea type="text" class="input" placeholder="Message..." [(ngModel)]="model.message" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <button class="send-btn button is-large is-primary" [disabled]="contactForm.invalid">
                Send Message
            </button>
        </form>
    </div>
</section>
