/*
.hero-section {
    background: rgb(0, 0, 0) url('../../../assets/images/cafe-img.jpg') no-repeat fixed center;
}


.hero-section {
    max-width: 100vw;
    background-color: #000000A1;
}

.hero-body {
    background: white;
    width: 400px;
    height: auto;
}

.title {
    color: #fff;
}

.subtitle {
    color: rgb(235, 231, 231);
}
*/

.section {
    min-height:100%;
    background: center/cover no-repeat url('../../../assets/images/cafe-img.jpg');
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.541);
}

