<!--

  <section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Contact Us</h1>
        </div>
    </div>
</section>




-->
  <section class="section">
    <div class="container">
      <section class="hero is-large">
        <div class="hero-body is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <h1 class="title has-text-grey-lighter py-3">
            Hello World!
          </h1>
          <h3 class="subtitle has-text-centered has-text-grey-lighter">
            Welcome to DevHire, a website for hiring top developers for your next project.
          </h3>
        </div>
      </section>
    </div>
  </section>

  
    
